@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin container {
    width: 90%;
    margin: 0 auto;
}
//---color----//

$red : #b5132a;
$hcolor:#2c3e50;
$para:#787878;
$siteColor:#1F4E5F;
$text2:#F5A91D;
$border-width: 4px;
// $border-color: #ffc107;
$white:#fff;
$cap:capitalize;
$none:none;
$around:space-around;
$between:space-between;
//-----font----//

$heading:'Gotham Pro bold';
$p:'Gotham Pro Regular';
$transition: all .3s ease-in-out;


// chat-----sectionn


$base-height: 377px;
$base-dimension: 16px;
$base-border-radius: 5px;
$base-button-size: 52px;
$primary-color: #262f3a;
$accent-color: #f6f7f9;
$background-color: #fff;
$font-color: #888;

@mixin chabox-container {
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
}

@mixin chatbox-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
//   padding: $base-dimension;
  padding: 1.3rem 1rem 2.5rem;
  color: $background-color;
  background-color: $primary-color;
  align-items: center;
  justify-content: space-around;
  h1{
      color: #fff;
      font-weight: bold;
  }
}

@mixin chatbox-main {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: calc(2 * #{$base-dimension}) #{$base-dimension};
  line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
  color: $font-color;
  text-align: center;
  @include flex;
}

@mixin chatbox-footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: $base-dimension;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
}

@mixin chatbox-floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: $base-button-size;
  height: $base-button-size;
  color: $background-color;
  background-color: $primary-color;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 4px 1px #686868;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 7;
}